@model List<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
}

<h2>Customer</h2>

<a href="@Url.Action("New")" class="btn btn-primary"><i class="glyphicon glyphicon-star"> New</i></a>

<hr />

<table class="table table-bordered table-hover" id="customers">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "name"

                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-sm btn-danger js-delete' data-customer-id=" + data + "><i class='glyphicon glyphicon-trash'></i></button>";
                        }
                    }
                ]
            });

            $("#customers").on('click',
                ".js-delete",
                function () {
                    var button = $(this);

                    bootbox.confirm("Are you sure to delete this customer?",
                        function (result) {
                            if (result) {
                                $.ajax(
                                    {
                                        url: "/api/customers/" + button.attr("data-customer-id"),
                                        method: "DELETE",
                                        success: function () {
                                            button.parents("tr").remove();
                                        }
                                    }
                                );
                            }
                        });
                }
            );
        }
        );
    </script>
}
